{{ define "title" }}{{ .Title }}{{ end }}
{{ define "headerTitle" }}{{ .Title }}{{ end }}
{{ define "head" }}
<style>
  @page {
    size: A4;
  }

  h2 {
    display: none;
    text-align: center;
  }

  @media print {
    body {
      grid-template-columns: 1fr;
    }

    header, footer, .notice {
      display: none;
    }

    main {
      padding: 0;
    }

    h2 {
      display: block;
      font-size: 1.25em;
      margin: 0;
    }

    table.pickem-sheet {
      margin-bottom: 0;
    }

    td {
      break-inside: avoid;
    }
  }

  table.pickem-sheet {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  table.pickem-sheet td {
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-top: 1px solid;
    padding: 0;
    text-align: center;
  }

  table.pickem-sheet tr {
    background-color: unset;
  }

  table.pickem-sheet td.away {
    border-right: 1px solid;
    text-align: left;
    width: 50%;
  }

  table.pickem-sheet td.away-box {
    border-right: 1px solid;
    width: 40%;
  }

  table.pickem-sheet td.home-box {
    width: 40%;
  }

  table.pickem-sheet td.home {
    text-align: right;
    width: 50%;
  }

  table.pickem-sheet img {
    width: 32px;
  }
</style>
{{ end }}

{{ define "main" }}
<h2>{{ .Title }}</h2>

<p class="notice">
You can <a href="javascript:window.print()">🖨 print this page</a>!
</p>

<table class="pickem-sheet">
  <tbody>

    <!-- Required to set column widths for the table. -->
    <tr style="visibility: collapse">
      <td class="away" />
      <td class="home" />
    </tr>

  {{ range .Params.pickemSchedule }}
    <tr>
      <td class="day" colspan="4" style="text-align: center;">{{.day | humanize}}</td>
    </tr>
    {{ range .games }}
      <tr class="game">
        <td class="away">
          <img src="/logos/{{.away}}.webp">
          <div>
            {{with index $.Site.Data.teams .away}}
            {{.loc}} {{.name}}
            {{end}}
          </div>
        </td>
        <td class="home">
          <img src="/logos/{{.home}}.webp">
          <div>
            {{with index $.Site.Data.teams .home}}
            {{.loc}} {{.name}}
            {{end}}
          </div>
        </td>
      </tr>
    {{end}}
  {{end}}
  </tbody>
</table>
{{ end }}
