{{ define "main" }}
<h2>How it works</h2>
<p>
Print the pick'em sheet for the upcoming week. Grab some colored pencils and draw a letter or symbol next to the team you think will win for each matchup.
</p>
<p>
Have your family and friends do the same with a different color and letter or symbol. After all the games are complete add up the correct picks to see how got the most.
</p>

<p class="notice">
Try laminating the sheet and use dry erase markers. Then, it's easy to change your picks before the game starts!
</p>

<h2>Printable sheets</h2>
{{- range site.RegularPages.GroupByParam "pickemSeason" }}
<p class="weeks">
{{ .Key }} Season:
  {{- range $i, $p := .Pages.ByParam "pickemWeek" }}
    {{ if $i }}-{{ end }}
    <a href="{{ .RelPermalink }}">Week {{ .Params.pickemWeek }}</a>
  {{- end }}
</p>
{{- end }}
{{ end }}
